body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -9999;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 100vh solid royalblue;
  border-right: 50vw solid transparent;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 100vh solid crimson;
  border-left: 50vw solid transparent;
}

footer {
  height: 10%;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

.rightnav {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  gap: 10%;
}

.leftnav {
  padding-left: 5%;
}
